<!DOCTYPE html>
{% load django_bootstrap5 static %}
{% load i18n %}
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Sprawdź swoją wiedzę{% endblock %} - Gunman</title>
    {% bootstrap_css %}
    <link href="https://cdn.jsdelivr.net/npm/fontawesome-free-6.2.1@6.2.1/css/all.min.css" rel="stylesheet">
    {% block extra_head %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/default.css' %}?b1=5">
</head>

<body>


{% block bootstrap5_before_content %}{% endblock %}
{% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
{% block content %}(no content){% endblock %}

{% block bootstrap5_after_content %}{% endblock %}

<footer class="text-center">Copyright ©2025 <a href="https://gunman.pl">Gunman.pl</a>. All Rights Reserved</footer>

{% bootstrap_javascript %}
{% block extra_script %}{% endblock %}
</body>

</html>
