{% extends 'tests/base.html' %}
{% load django_bootstrap5 static %}

{% block title %}{{question.flashcard_question|truncatewords:5}}{% endblock %}

{% block content %}
<div class="flashcard-container">
    <div class="flashcard">
        <div class="question card">
            <div class="content">
                {{ question.flashcard_question }}
            </div>
        </div>
        <div class="answer card">
            <div class="content">
                {{ question.flashcard_answer }}
            </div>
        </div>
    </div>
</div>


<div class="text-center my-2">
    <div>fiszka {{ question.flashcard_no }} z {{ count_all }}</div>
    <a href="{% url 'flash-card' random_next %}" class="btn btn-success btn-xs">następna</a>
</div>

{% endblock %}