<div class="ad-box">
    <div class="image">
        {% if ad.thumb %}
        <img src="/media/{{ ad.thumb }}" class="card-img-left" alt="{{ ad.name }}" width="300px" height="300px">
        {% else %}
        {% endif %}
    </div>
    <div class="ad-description">
        <h5>
            <a href="{% url 'ad' ad.slug %}">{{ ad.name }}</a>
        </h5>
        <div class="ad-details">
            <p>{{ ad.description }}</p>
             <div class="row">
            <div class="col">
                <h6>{% if ad.price %}Cena: {{ ad.price }} zł{% endif %}</h6>
            </div>
            <div class="col text-end">
                <h6>{{ ad.date }}</h6>
            </div>
        </div>
        </div>
    </div>

</div>