<div class="card mb-3">
    <div class="card-header">
        <h5 class="card-title">
            <a href="{% url 'ad' ad.slug %}">{{ ad.name }}</a>
        </h5>
    </div>
    <div class="card-body">
        {% if ad.thumb %}
        <img src="{{ ad.thumb.url }}" class="card-img-left" alt="{{ ad.name }}" width="300px" height="300px">
        {% else %}
        {% endif %}
        <p class="card-text">
            {{ ad.description }}
        </p>
    </div>
    <div class="card-footer">
        {% if ad.price %}
        Cena: {{ ad.price }} zł
        {% endif %}
    </div>
</div>