<nav aria-label="paginacja">
    <ul class="paginator">
        {% if page_obj.has_previous %}
        <li class="paginator-item paginator-item-prev">
            <a class="" href="?page=1{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" aria-label="Previous">
                <span aria-hidden="true">&laquo;&laquo;</span>
                <span class="sr-only">Start</span>
            </a>
        </li>
        <li class="paginator-item paginator-item-prev">
            <a class="" href="?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Wstecz</span>
            </a>
        </li>
        {% endif%}

        {% for page_number in page_obj.adjusted_elided_pages %}
        {% if page_number == page_obj.paginator.ELLIPSIS %}
        <li class="paginator-item">
            <a href="#" class="">{{page_number}}</a>
        </li>
        {% else %}
        <li class="paginator-item{% if page_number == page_obj.number %} active{% endif %}">
            <a class="" href="?page={{ page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{page_number}}</a>
        </li>
        {% endif %}
        {% endfor %}


        {% if page_obj.has_next %}
        <li class="paginator-item paginator-item-next">
            <a class="" href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Dalej</span>
            </a>
        </li>
        <li class="paginator-item paginator-item-next">
            <a class="" href="?page={{ page_obj.paginator.num_pages }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
                <span aria-hidden="true">&raquo;&raquo;</span>
                <span class="sr-only">Koniec</span>
            </a>
        </li>
        {% endif%}

        <!--        <a>{{page_obj.number}} of {{page_obj.paginator.num_pages}}</a>-->

    </ul>
</nav>