{% extends 'barrel_finder/base.html' %}

{% block title %}Barrel finder - About{% endblock %}

{% block content %}

<h2 class="section-title">O projekcie</h2>

<p>Nasz serwis został stworzony, aby ułatwić znalezienie używanej broni palnej oraz akcesoriów do niej. Agregujemy
    ogłoszenia z kilku najpopularniejszych portali ogłoszeniowych, dzięki czemu użytkownicy mogą w jednym miejscu
    przeglądać oferty z różnych źródeł.</p>

<p>Jeśli znasz portal, który Twoim zdaniem warto dodać do naszej bazy, zachęcamy do kontaktu. Naszym celem jest
    stworzenie kompleksowego narzędzia, które zapewni wygodę i oszczędność czasu wszystkim zainteresowanym.</p>

<p>Sprawdź dostępne ogłoszenia i znajdź to, czego szukasz!</p>

{% endblock %}