{% extends 'barrel_finder/base.html' %}
{% load django_bootstrap5 %}

{% block title %}{{ ad.name }}{% endblock %}

{% block content %}
<div class="card mb-3">
    <div class="card-header">
        <h5 class="card-title">
            {{ ad.name }}
        </h5>
    </div>
    <div class="card-body">
        <p class="card-text">
            {{ ad.clean_description }}
        </p>
    </div>

    <div class="card-body">
        <a href="{{ad.url}}" target="_blank" rel="nofollow">{{ad.url}}</a>

    </div>

    <div class="card-footer">
        {% if ad.price %}
        Cena: {{ ad.price }} zł
        {% endif %}
    </div>
</div>

{% endblock %}