{% extends 'barrel_finder/base.html' %}

{% block title %}Barrel finder - Polityka prywatności{% endblock %}

{% block content %}

<h2 class="section-title">Polityka prywatności</h2>

<p>Niniejsza Polityka Prywatności określa zasady przetwarzania danych osobowych i korzystania z plików cookies w
    serwisie agregującym ogłoszenia ("Serwis").</p>

<h3 class="subsection-title">1. Administrator Danych Osobowych</h3>
<p>Nie przetwarzamy żadnych danych osobowych użytkowników Serwisu. W związku z tym nie prowadzimy rejestru
    Administratora Danych Osobowych ani inspektora ochrony danych.</p>

<h3 class="subsection-title">2. Dane osobowe</h3>
<p>Serwis nie zbiera ani nie przetwarza żadnych danych osobowych użytkowników. Korzystanie z Serwisu nie wymaga
    podawania żadnych informacji identyfikacyjnych.</p>

<h3 class="subsection-title">3. Pliki cookies</h3>
<p>Serwis wykorzystuje wyłącznie niezbędne pliki cookies w celu zapewnienia prawidłowego działania strony.</p>

<h3 class="subsection-title">4. Rodzaje używanych plików cookies:</h3>
<p><strong>Niezbędne cookies</strong> &ndash; służą do zapewnienia podstawowej funkcjonalności Serwisu, takich jak
    utrzymanie sesji użytkownika czy poprawne wyświetlanie strony.
</p>
<h3 class="subsection-title">5. Brak zbierania danych w celach marketingowych:</h3>
<p>Nie korzystamy z plików cookies do analityki, personalizacji ani celów reklamowych.<br/>
    Nie współpracujemy z zewnętrznymi dostawcami w zakresie śledzenia aktywności użytkowników.</p>

<h3 class="subsection-title">6. Linki do zewnętrznych stron</h3>
<p>Serwis agreguje ogłoszenia z różnych źródeł i zawiera linki prowadzące do zewnętrznych stron internetowych. Nie
    ponosimy odpowiedzialności za zasady prywatności obowiązujące na tych stronach. Zachęcamy do zapoznania się z
    polityką prywatności odwiedzanych serwisów.</p>

<h3 class="subsection-title">7. Bezpieczeństwo</h3>
<p>Dokładamy wszelkich starań, aby Serwis działał w sposób bezpieczny i niezagrażający prywatności użytkowników. Nie
    przechowujemy żadnych danych osobowych ani nie śledzimy aktywności użytkowników poza podstawowymi działaniami
    technicznymi wymaganymi do utrzymania strony.</p>

<h3 class="subsection-title">8. Zmiany w Polityce Prywatności</h3>
<p>W przypadku wprowadzenia zmian w niniejszej Polityce Prywatności, odpowiednia informacja zostanie opublikowana na tej
    stronie. Zalecamy regularne sprawdzanie treści Polityki Prywatności w celu śledzenia zmian.</p>

<h3 class="subsection-title">9. Kontakt</h3>
<p>W przypadku pytań dotyczących niniejszej Polityki Prywatności prosimy o kontakt za pośrednictwem adresu e-mail: <a
        href="mailto:bok@gunman.pl">bok@gunman.pl</a>.</p>

{% endblock %}